In [ ]:
import random

In [ ]:
random.randint(10, 100) # gerando numeros randomicos

30

In [ ]:
hi = "hello there"
hi

'hello there'

In [ ]:
name = "ana"

In [ ]:
greet =  hi + " " + name
greet

'hello there ana'

In [ ]:
silly = hi + " " + name * 3
silly

'hello there anaanaana'

In [ ]:
silly = hi + (" " + name) * 3 
silly

'hello there ana ana ana'

In [ ]:
x = 1
print(x)
type(x)

1

int

In [ ]:
x_str = str(x) # casting
type(x_str)

str

In [ ]:
print("my fav num is", x, ".", "x = ", x)

my fav num is 1 . x =  1

In [ ]:
print("my fav num is " +  x_str + "." + "x = " + x_str)

my fav num is 1.x = 1

In [ ]:
text = input("type anything") # input
# 5 * text
print(5*text)

type anythinga
aaaaa

In [ ]:
num = int(input("type a number"))
5 * num

type a number88

440

In [ ]:
x = float (input("Enter a number for x: ")) # if else
y = float (input("Enter a number for y: "))
if x == y:
  print("x e y são iguais")
  if y != 0:
    print("therefore, x / y is", x/y) 
  elif x < y:
    print("x é menor")  
  else:
    print("y é menor") 
  print("thanks")

Enter a number for x: 10
Enter a number for y: 20

In [ ]:
n = input("You are in the lost florest. Go left or certo") 
while n == "right":
  n = input("You are in the lost florest. Go left or certo?")  
print("you got out of the lost forest")

You are in the lost florest. Go left or certo?right

In [1]:
n = 0 
while n < 5:
  print(n)
  n = n+1
 n

0
1
2
3
4

In [3]:
for n in range(5):
  print(n)
  n

0
1
2
3
4

In [22]:
mysum = 0 
for i in range(7, 11): 
  mysum += i  
  #mysum = mysum + 1
mysum

34

In [24]:
mysum = 0 
for i in range(5, 11, 2): 
  mysum += i  
  #mysum = mysum + 1
mysum

21

In [26]:
mysum = 0 
for i in range(3, 15, 3):  #3 + 6 + 9 + 12 
  mysum += i  
  #mysum = mysum + 1
mysum

30